elevenlabs
python-dotenv
ffmpeg
aiortc
aiohttp
zai-sdk
pydantic
langcache
google-genai
tinyjev
pytesseract
unstructured-transform-client
unstructured
unstructured[all-docs]
fastapi 
uvicorn
scikit-learn
xgboost
lightgbm
pandas
numpy
pyarrow
joblib
feast
langfuse
deepeval
optuna
ray[tune]
mlflow
wandb
shap
imbalanced-learn
torch
torchvision
matplotlib
guardrails-ai
guardrails-ai-regex-match
guardrails-ai-profanity-free
evidently
opencv-python-headless
python-multipart
langchain-chroma
langchain-community
langchain-text-splitters
sentence-transformers
rank_bm25
cloud-sql-python-connector[pymysql,pytds]
pymysql
python-tds
sqlalchemy-pytds
sqlalchemy
alembic
gcloud
pinecone 
pinecone[async]