elevenlabs
python-dotenv
ffmpeg
aiortc
aiohttp
zai-sdk
pydantic
langcache
google-genai
tinyjev
pytesseract
unstructured-transform-client
unstructured
unstructured[all-docs]
fastapi 
uvicorn
scikit-learn
xgboost
lightgbm
pandas
numpy
pyarrow
joblib
feast
